html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  background: transparent;
}

#root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.simple-trans-main > div {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  overflow-wrap: anywhere;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 2em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

.floating {
  position: absolute;
  top: 5%;
  left: calc(50% - 60px);
  padding: 4px;
  padding-bottom: 0px;
  border-radius: 5px;
  background-color: gray;
  opacity: 0.4;
  width: 120px;
  height: 85px;
}

.floating-label {
  font-size: 14px;
  color: white;
  margin-bottom: 4px;
}

.floating-value {
  font-size: 45px;
  color: white;
}

a {
  color: gray;
}

a:hover {
  text-decoration: none;
  color: white;
}

.reconnect {
  color: #007bff !important;
}

.reconnect:hover {
  color: gray !important;
  cursor: pointer;
}